# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
contracts/node_modules/*
broadcast
frontend/node_modules/*
backend/node_modules/*
