@tailwind base;
@tailwind components;
@tailwind utilities;


/** other custom global styles can go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.b{
  border: 1px solid red;  
}



/* overriding css for Ion item & Ionselect */
.no-border-bottom {

  --inner-border-width: 0;
  --highlight-color-focused: none;
}


.ion-item{
  background-color: wheat;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}