@tailwind base;
@tailwind components;
@tailwind utilities;


/** other custom global styles can go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.b{
  border: 1px solid red;  
}


/* default color */
:root {
  --ion-text-color: rgba(241, 245, 249, 0.837) !important; 
}


/* overriding css for Ion item & Ionselect */
.no-border-bottom {

  --inner-border-width: 0;
 

  --background: transparent; 
  --background-activated: transparent; 
  --background-focused: transparent; 
  --background-hover: transparent; 
 
}




.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
} 